<h1>TruMusic</h1>
<form [formGroup] = "registerForm" (ngSubmit) = "userRegister()" class="form-control">
  <h3>Please Register</h3>
<div class = "email">
<mat-form-field appearance="legacy">
    <mat-label class="visually-hidden">Email</mat-label>
    <input matInput 
    formControlName="email"
    type="text"
    value=""
    >
  </mat-form-field>
</div>
<span style="color: red;" *ngIf="email && email.invalid && email.touched">Please enter a valid email</span>
<div class="username">
  <mat-form-field appearance="legacy">
    <mat-label>Username</mat-label>
    <input matInput
    formControlName="username"
    type="text"
    value=""
    >
  </mat-form-field>
</div>
<span style="color: red;" *ngIf="username && username.invalid && username.touched">Username minimum length must be atleast 5</span>
<div class="password">
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput
    formControlName="password"
    type="text"
    value=""
    >
  </mat-form-field>
</div>
<span style="color: red;" *ngIf="password && password.invalid && password.touched">Password minimum length must be atleast 8</span>
<button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Submit</button>
</form>
